
:root {
    --orangePrimary: #FF6E00;
    --orangeSecondary: #FF8B33;
}

body {
    background-color: #0d1117;
    color: var(--orangePrimary);
    display:block;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.bordered {
    text-align: center;
    padding: 1em;
    margin-bottom: 15px;
    border: 2px solid var(--borderColor)
}

.primary {
    --borderColor: var(--orangePrimary);
}

.secondary {
    --borderColor: var(--orangeSecondary);
}

#headline {
    text-decoration: overline underline;
    font-family: 'Courier New', Courier, monospace;                                            
    font-size: 2em;
    font-weight: 700;
}

#tagline {

}