



body {
    background-color: #0d1117;
    color: wheat;
    display:block;
}

.temp {
    border: gray dashed 3px;
}


header article {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
}
header p {
    font-size: 1.5rem;
}
header {
    height: 23vh;
    padding: 1vh;
    display: flex;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition:all 1s;
}

header:hover {
    background-image: linear-gradient(to right,rgba(245, 222, 179,0), rgb(245, 222, 179),rgba(245, 222, 179,0));
    color: #0d1117;
}